{% extends 'base.html'  %}

{% block content %}
<div>
    <h1>Congrats you Made it!</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <th scope="row">{{user.username}}</th>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
          </tr>
            
        </tbody>
      </table>
</div>

<div>
    {% for feedback in feedbacks %}

        <div class="card my-4">
            
            <div class="card-body">
                <h5 class="card-title text-info">
                    {{feedback.title}}
                    
                </h5>
                
                <p class="card-text">
                    {{feedback.content}}
                </p>
                <form style="display:inline" action="/feedback/{{feedback.id}}/update" method="POST">
                    <button class="btn btn-sm btn-info"><i class="fas fa-edit"></i></button>
                </form>
                <form style="display:inline"action="/feedback/{{feedback.id}}/delete"method="POST">
                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                </form>
                
                
        
            </div>
        </div>

        

    
    {% endfor %}
    </div>




<a href="/logout" class="btn btn-primary" role="button">Logout</a>

{% endblock %}